

.title .icon {
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.title:hover .icon {
    opacity: 1;
}

.title .form-control {
    height: 60px;
    font-size: 25px;
}

















/* .title .icon {
    opacity: 0;
    transition: all 1s;
    cursor: pointer;
}

.title:hover .icon{
    opacity: 1;
}

.title .form-control {
    height: 60px;
    font-size: 25px;
} */

